In [1]:
2+9

11

In [2]:
print("vinay")

vinay

In [3]:
0+0+5

5

# Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics
##### Markdown Basics
* **point1** (Bold)
* *point2* (Italic)
* ***point3*** (Bold and Italic)

* Normal Text
 * Sublist 1
 * Sublist 2
 
 
 > 1. Point1
 > 2. Point2
 
 * ***Adding links to Markdown***
 
 * Google Site -- [1]: https://www.google.com

 * msn site -- [2]: https://www.msn.com
 
 * []option 1
 * Google site -- [Google][1]
 [1]: https://www.google.com

### Python  Basics
 * Python version 3.7
 - Functional Programming
 - Subject oriented Programming
 - Scripting Programming

In [4]:
print("Hello Gitam")

Hello Gitam

In [7]:
print("hello gitam", "- ||| -")
print("hyderabad")

hello gitam - ||| -
hyderabad

In [6]:
print("hello, gitam", " ||| ",end = " ")
print("hyderabad",end=" ||| ")
print("python programming")

hello, gitam  |||  hyderabad ||| python programming

In [9]:
n1=100 # single variable assignment
a = b = c = 20 # multi variable assignment of same value
a1,b1,c1 = 111,222,333 # multi variable asssignment with different vakues
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [10]:
a = 100;
s1 = "python"
s2 = 'p'
f1 = 10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [13]:
i=100
print(type(i))
s1 = str(i) # str converts yhe input into string type
print(type(s1))
f1 = float(i) # float() converts the input into float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [15]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [16]:
# a number is given 1234 - 
# digit count
a1 = 1234
print(len(str(a1)))

4

# Reading a value
* input("message") --string

In [17]:
s1 = input("enter your name")
print(s1)
print(type(s1))

enter your namesai vinay
sai vinay
<class 'str'>

In [18]:
# want a number as a input
n1 = int(input("enter a number"))
print(n1,type(n1))

enter a number1234
1234 <class 'int'>

## Operators
* operator is a symbol is used to perform a specific kind of operations
### Arithmetic Operators
* +
* /
* -
* *
* %
* **
* //

In [19]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### Precedence of the Arth operators
* parenthesis
* power
* multiplication
* addition

**left to right**

In [20]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [21]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

### Relational Operators
- **
- !=
- greater(>)
- less than(<)
- less than or equal to(<=)
- greater than equal to(>=)

In [22]:
x = 10 
a1 = x > 15
print(a1)

False

**Logical Operators**
**used to combine more htan a single condition**
* or
* and
* not

In [23]:
i =  100
a1 = (i > 15) and (i < 800)
a2 = (i > 15) and (i > 800)
print(a1)
print(a2)

True
False

### control flow statements
- conditional statements
- looping statements

In [24]:
# to check given number is even or odd
n = int(input("enter a number"))
if n%2 == 0:
    print("even")
else:
    print("odd")

enter a number20
even

In [26]:
# to chek given number is multiple of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
    print("yes")
else:
    print("no")

enter a number563
no