In [1]:
2+9

11

In [2]:
print("vinay")

vinay

In [3]:
0+0+5

5

# DAY-5

# Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics
##### Markdown Basics
* **point1** (Bold)
* *point2* (Italic)
* ***point3*** (Bold and Italic)

* Normal Text
 * Sublist 1
 * Sublist 2
 
 
 > 1. Point1
 > 2. Point2
 
 * ***Adding links to Markdown***
 
 * Google Site -- [1]: https://www.google.com

 * msn site -- [2]: https://www.msn.com
 
 * []option 1
 * Google site -- [Google][1]
 [1]: https://www.google.com

### Python  Basics
 * Python version 3.7
 - Functional Programming
 - Subject oriented Programming
 - Scripting Programming

In [4]:
print("Hello Gitam")

Hello Gitam

In [7]:
print("hello gitam", "- ||| -")
print("hyderabad")

hello gitam - ||| -
hyderabad

In [6]:
print("hello, gitam", " ||| ",end = " ")
print("hyderabad",end=" ||| ")
print("python programming")

hello, gitam  |||  hyderabad ||| python programming

In [9]:
n1=100 # single variable assignment
a = b = c = 20 # multi variable assignment of same value
a1,b1,c1 = 111,222,333 # multi variable asssignment with different vakues
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [10]:
a = 100;
s1 = "python"
s2 = 'p'
f1 = 10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [13]:
i=100
print(type(i))
s1 = str(i) # str converts yhe input into string type
print(type(s1))
f1 = float(i) # float() converts the input into float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [15]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [16]:
# a number is given 1234 - 
# digit count
a1 = 1234
print(len(str(a1)))

4

# DAY-6

# Reading a value
* input("message") --string

In [17]:
s1 = input("enter your name")
print(s1)
print(type(s1))

enter your namesai vinay
sai vinay
<class 'str'>

In [18]:
# want a number as a input
n1 = int(input("enter a number"))
print(n1,type(n1))

enter a number1234
1234 <class 'int'>

## Operators
* operator is a symbol is used to perform a specific kind of operations
### Arithmetic Operators
* +
* /
* -
* *
* %
* **
* //

In [19]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### Precedence of the Arth operators
* parenthesis
* power
* multiplication
* addition

**left to right**

In [20]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [21]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

### Relational Operators
- **
- !=
- greater(>)
- less than(<)
- less than or equal to(<=)
- greater than equal to(>=)

In [22]:
x = 10 
a1 = x > 15
print(a1)

False

**Logical Operators**
**used to combine more htan a single condition**
* or
* and
* not

In [23]:
i =  100
a1 = (i > 15) and (i < 800)
a2 = (i > 15) and (i > 800)
print(a1)
print(a2)

True
False

### control flow statements
- conditional statements
- looping statements

In [24]:
# to check given number is even or odd
n = int(input("enter a number"))
if n%2 == 0:
    print("even")
else:
    print("odd")

enter a number20
even

In [26]:
# to chek given number is multiple of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
    print("yes")
else:
    print("no")

enter a number563
no

In [2]:
# find the large number from the given number
a1 = int(input("enter number 1 "))
a2 = int(input("enter number 2 "))
a3 = int(input("enter number 3 "))

if a1>a2 and a1>a3:
    print(a1, "is the larger number")
if a2>a1 and a2>a3:
    print(a2, "is the larger number")
if a3>a1 and a3>a2:
    print(a3, "is the larger number")

enter number 1 5444
enter number 2 555
enter number 3 636
5444 is the larger number

In [7]:
# check given year is leap year or not
year = int(input("enter year "))
if year%400 == 0 or (year%100 != 0 and year%4 == 0):
    print("leap year")
else:
    print("not a leap year")

enter year 150
not a leap year

### Iteration
* while
* for

syntax:<br>
       while boolean_condition: <br>
       statements <br>
       Increment/decrement <br>

In [1]:
x = 0
while x < 5 :
    print(" Gitam ")
    x = x + 1

 Gitam
 Gitam
 Gitam
 Gitam
 Gitam

In [2]:
# print n natural numbers using while loop
n = int(input("enter a number"))
i = 1
while i <= n:
    print(i,end = " ")
    i = i + 1

enter a number10
1 2 3 4 5 6 7 8 9 10

In [7]:
# read a number --- n
# add only even numbers between 1 to n
# input -- 10
# output --30(2+4+6+8+10)
n = int(input("enter a number"))
i = 1
sum = 0
while i <= n:
    if i % 2 == 0:
        sum = sum + i
    i = i + 1
print(sum)

enter a number10
30

In [8]:
# number as a number --- 123
# print the digits of given number : 3 2 1 
n = int(input(" enter a number "))
while n != 0:
    r = n % 10
    print(r,end = " ")
    n = n // 10

 enter a number 123
3 2 1

**functional programming**
* simple
* easy read
* lengthy program divides into sub programs

In [10]:
def nameoftheFunction(<parameters>):
    statement
    return

SyntaxError: invalid syntax (<ipython-input-10-b855af83a942>, line 1)

In [14]:
# read a number -- 1234
# output --6(2+4)
def addEvenDigits(n):
    # statements to compute the output of the program
    sum = 0
    while n!=0:
        r=n % 10
        if r % 2 == 0:
            sum = sum + r
        n = n // 10
    print(sum)
    return
addEvenDigits(1234)

6

In [1]:
# read a number -- 19528
# print the large digit print the number
def printlarge(n):
    large = 0
    while n != 0:
        r = n % 10
        if large < r:
            large = r
        n = n // 10
    return large
printlarge(19528)

9

In [3]:
# read a number input
# output reverse of given number
# 123 -- 321
def reversenumber(n):
    rev = 0
    while n != 0:
        r = n % 10
        rev = rev * 10 + r
        n = n // 10
    return  rev 
reversenumber(123)

321

In [29]:
def ispalindrome(n):
    rev = 0
    buffer = n
    while n != 0:
        rev = rev * 10 + r
        n = n // 10
if buffer == rev:
    return "Yes"
else:
    return "No"

print(ispalindrome(123))
print(ispalindrome(121))

SyntaxError: 'return' outside function (<ipython-input-29-962c107d243b>, line 8)

In [10]:
def printNNaturalNumbers(n):
    for x in range(1,n+1):
        print(x,end=" ")
    return
printNNaturalNumbers(10)

1 2 3 4 5 6 7 8 9 10

In [14]:
# function to print the number between two limits
# input : 11,25
# output : 11 12 13 -------------25
def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end = " ")
    return    
printseries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [17]:
# function to print alternate numbers
# [500,520] -- 500 502 504 506 ... 520
# [100,150] -- 100 104 108 112 116
def alternatenumbers(lb,ub):
    for x in range(lb,ub+1,4):
        print(x,end=" ")
    return
alternatenumbers(100,150)

100 104 108 112 116 120 124 128 132 136 140 144 148

<img src = " ">

#problem name
#algorithm
#sample input and output
#flowchart
#pythoncode

# DAY-7

In [1]:
# iven number is prime or not 
def isprime(n):
    flag = True
    for i in range(2,n//2+1):
        if n % i == 0:
            flag = false
            return flag
    return flag
isprime(7)

True

In [5]:
# function to find prime numbers count from 1 to N
# 10 -- 4(2,3,5,7)
def primecount(n):
    cnt = 0
    for a in range(n+1):
        k=0
        for i in range(2,a//2+1):
            if a % i == 0:
                k = k + 1
            if (k<=0):
                cnt = cnt + 1
    return cnt
primecount(10)

4

In [8]:
# individual digit factorial sum is same as original number
# Example 
# 145 -- yes (5! + 4! + 1! = 145)
# 123 -- no  (3! + 2! + 1! = 9)
def factorial(n):
    fact = 1
    for i in range(2,n+1):
        fact *= i
    return fact
def digitfactsum(n):
    sum = 0
    buffer = n
    while n != 0 :
        r = n % 10
        sum += factorial(r)
        n = n // 10
    if sum == buffer:
        return "yes"
    else:
        return "no"
    return
print(digitfactsum(145))
print(digitfactsum(123))

yes
no

In [27]:
# function to return the count of palindrome numbers
# input : 1 10
# output : 9(1,2,3,4,5,6,7,8,9)

# input : 11 100
# output : 9 (11,22,33,....,99)

def ispalindrome(n):
    rev = 0
    buffer = n
    while n!=0:
        r = n % 10
        rev = rev * 10 + r
        n = n // 10
    if rev == buffer:
        return True
    else :
        return False
    return
def countpalindrome(lb,ub):
    cnt = 0
    while lb != ub:
        # implement
        if ispalindrome(lb) == True:
            cnt = cnt + 1
        lb = lb + 1
    return cnt
countpalindrome(1,10)

9

In [24]:
# function to generate the perfect numbers in a range
# perfect number : sum of all its factors same as original number
# example : 6 -- 1 2 3 (1+2+3)
# input : 1 10
# output : 6
def factorslist(n):
    sum = 0
    for i in range(1,n//2+1):
        if n % i == 0:
            sum = sum + i
    return sum
def isperfect(n):
    if factorslist(n) == n:
        return True
    return False
def generateperfect(lb,ub):
    for x in range(lb,ub+1):
        if isperfect(x):
            print(x,end = " ")
    print()
    return
generateperfect(1,10)
generateperfect(1,10000)

6
6 28 496 8128

In [16]:
s1 = "python"
print(s1[0])
print(s1[1])
print(s1[5])
print(s1[len(s1)-1])

p
y
n
n

In [17]:
s1 = "python"
print(s1[-1])
print(s1[-2])
print(s1[0:2])
print(s1[:2])

n
o
py
py

In [18]:
s1 = "python"
print(s1[-1])
print(s1[-2])
print(s1[0:2])
print(s1[:2])
print(s1[-3:])
print(s1[2:])

n
o
py
py
hon
thon

In [19]:
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[-1::-1])

ytho
h
nohtyp

In [20]:
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[-1::-1])
print(s1[-1:-3:-1])
print(s1[::2])
print(s1[::3])
print(s1[::-2])

ytho
h
nohtyp
no
pto
ph
nhy

In [23]:
def ispalindrome(str):
    if str == str[::-1]:
        return True
    else:
        return False
    return
print(ispalindrome("python"))
print(ispalindrome("ganag"))

False
True

In [33]:
# ASCII :-
# A - Z :65 - 90
# a - z :97 - 122
# 0 - 9 :48 - 57
# space : 32
def printUpper(x):
    for x in range(len(x)):
        if ord(x[i]) >= 65 and ord(x[i]) <= 90:
            print(x[i],end = " ")
    return
printUpper("PyThon")

NameError: name 'i' is not defined

In [34]:
def findcount(str):
    cntUpper = 0
    cntLower = 0
    for x in range(len(str)):
        if ord(str[x]) >= 65 and ord(str[x]) <= 90:
            cntUpper = cntUpper + 1
        elif ord(str[x]) >= 97 and ord(str[x]) <= 122:
            cntLower == cntLower + 1
    if cntUpper == cntLower:
        return "SameCount"
    else:
        return "Programming"
    return
print(findcount('PyThOn')) # SameCount
print(findcount('PyTHon')) # Programming

Programming
Programming

In [36]:
def extractDigits(str):
    for x in range(len(str)):
        if ord(str[x]) >= 48 and ord(str[x]) <= 57:
            print(str[x],end = " ")
    return
extractDigits("Appli1cati8ion89") # 1 8 8 9

1 8 8 9

In [37]:
# fuction to return the sum of digits in a given string
# Example:
# input : Appli1cat8ion89
# output : 26(1+8+8+9)
def sumOfDigits(str):
    sum = 0
    for x in range(len(str)):
        if ord(str[x]) >= 48 and ord(str[x]) <= 57:
            sum = sum + (ord(str[x])-48)
    return sum
sumOfDigits('Appli1cat8iion89')

26

In [39]:
# fuction to return the sum of digits in a given string
# Example:
# input : Appli1cat8ion89
# output : 16(8+8)
def sumOfEvenDigits(str):
    sum = 0
    for x in range(len(str)):
        if ord(str[x]) >= 48 and ord(str[x]) <= 57:
            if(ord(str[x])-48) % 2 == 0:
                sum = sum +(ord(str[x])-48)
    return sum
sumOfEvenDigits('Appli1cat8ion89')

16

In [44]:
# function to print the specific word in upper case
# example :
# Input : python made easy
# output : MADE
# input : Learn python programming
# output : PYTHON  
def wordUpperCase(s):
    spacecnt = 0
    for x in range(len(s)):
        if ord(s[x]) == 32:
            spacecnt += 1
        if spacecnt == 1:
            if ord(s[x]) >= 65 and ord(s[x]) <= 90:
                print(s[x],end=" ")
            elif ord(s[x]) >= 97 and ord(s[x]) <= 122:
                print(chr(ord(s[x])-32),end=" ")
        if spacecnt == 2:
            break
    return
wordUpperCase("Python Made Easy")

M A D E

# DAY-8

# PYTHON DATA STRUCTURES
# LISTS
- it is one of common data structures supports by python,the list items are saperated by comma operator and enclosed in square brackets
* Example --
    * List-1-[1,6,2,9,18]
    * List-2-["gitam",10,12,15.5,"Hyderabad"]

In [3]:
lst = [1,8,16,9,2] #creating the list object in python
print(lst) # access the entire list
print(lst[0]) # Access the first item list
print(lst[1]) # Access the second item list
print(lst[-1]) # Access the last item list
print(lst[-2])
print(lst[1:])
print(lst[1:4])

[1, 8, 16, 9, 2]
1
8
2
9
[8, 16, 9, 2]
[8, 16, 9]

In [4]:
# Update the list item values using index(Direct Reference)
li = ["Gitam","Python",1989,2002]
print(li)
li[2] = 2019
print(li)

['Gitam', 'Python', 1989, 2002]
['Gitam', 'Python', 2019, 2002]

In [6]:
# delete the specific item in a list
print(li)
del li[2]
print(li)

['Gitam', 'Python', 2019, 2002]
['Gitam', 'Python', 2002]

In [13]:
# Basic List Operations
lst1 = [1,9,6,18,2]
print(len(lst1)) # len of the list
print(lst * 2) # repetition
print(len(lst1))
print(9 in lst1) # list item is present or not
print(15 in lst1)
#Access the list items using iteration
for x in range(len(lst1)):
    print(lst1[x],end=' ')

5
[1, 8, 16, 9, 2, 1, 8, 16, 9, 2]
5
True
False
1 9 6 18 2

In [14]:
# Function of the list
lst1
print(min(lst1)) # min elements in the list
print(max(lst1)) # max elements in the list
print(sum(lst1))  # sum elements in the list
print(sum(lst1)//len(lst1))  # average list elements
print(sum(lst1[1::2])/len(lst1[1::2]))  # avg of all alternate  elements

1
18
36
7
13.5

In [15]:
lst1
lst1.append(24) # adding a new element at the end of the list
lst1
lst1.insert(2,56) # adding an element at particular index
lst1
lst1.count(18) # Return the value as many times as the repeats
lst1.index(56)
lst1.sort() # It sorts the list in ascending order
lst1
lst1.pop() # remove the last elements from the list
lst1
lst1.pop(1) # remove an element from particular index
lst2 = [123,23,45]
lst1.extend(lst2) #merge the list2 into list1
lst1

[1, 6, 9, 18, 24, 123, 23, 45]

In [16]:
li = [1,9,8,2,6,3]
print(li[-1:0:-2])

[3, 2, 9]

In [17]:
li = [1,9,8,2,6,3]
print(li[-1::])

[3]

In [18]:
li = [1,9,8,2,6,3]
print(li[-1:])

[3]

In [19]:
li = [1,9,8,2,6,3]
print(li[-1::-2])

[3, 2, 9]

In [20]:
li = [1,9,8,2,6,3]
print(li[-1:2:-2])

[3, 2]

In [21]:
lst1
lst1.append(24) # adding a new element at the end of the list
lst1
lst1.insert(2,56) # adding an element at particular index
lst1
lst1.count(18) # Return the value as many times as the repeats
lst1.index(56)
lst1.sort() # It sorts the list in ascending order
lst1
lst1.pop() # remove the last elements from the list
lst1
lst1.pop(1) # remove an element from particular index
lst2 = [123,23,45]
lst1.extend(lst2) #merge the list2 into list1
lst1.reverse() # reverse the list
lst1.remove(123) # remove the elements from the list
lst1

[45, 23, 56, 45, 24, 24, 23, 18, 9, 1]

In [22]:
# mfunction to find the second large item from the list
# input : [1,19,6,28,18,3]
# output : 18
def secondLarge(li):
    li.sort()
    return li[-2]
li = [1,19,6,2,8,18,3]
secondLarge(li)

18

In [24]:
def secondLarge(li):
    li.sort()
    return li[-2]
def genericLarge(li,n):
    li.sort()
    return li[-n]
li = c
genericLarge(li,4)

6

In [26]:
# function to find the least item in a list
# input : [1,19,6,2,8,18,3]
# output : 2
def secondLeast(li):
    li.sort()
    return li[1]
def genericLeast(li,n):
    li.sort()
    return li[n-1]
li = [1,19,6,2,8,18,3]
genericLeast(li,4)

6

### Linear Search
- Linear search algorithm can be applied on duplicate and unique list
  - unique list :- the all item of the list is appeeared only once
  - Duplicate list :- The items of the list can be appeared more than once
- Linear search algorithm can be applied on sortd and unsorted list

In [29]:
# function to search the data in a list
# search is found then return the index if not return - 1
def  linearSearch1(li,tarItem):
    for x in range(len(li)):
        if li[x] == tarItem:
            return x
    return -1
li = [1,19,6,2,8,18,3]
linearSearch1(li,225)

-1

In [31]:
# fumction 
# input : [1,5,9,6,5,15,1,2,5],key = 5 # Duplicate
# output : 1 4 8
def linearSearch2(li,tarItem):
    for x in range(len(li)):
        if li[x] == tarItem:
            print(x,end=" ")
    return
li = [1,5,9,6,5,15,1,2,5]
linearSearch2(li,5)

1 4 8

In [36]:
# function 
# Input : List
# output : Sequence of characters
# Test case
# [1,5,9,6,5,15,1,2,5],tar = 5 --- !! !!!!! !!!!!!!!!
def linearSearch3(li,tarItem):
    # Implement the logic
    for x in range(len(li)):
        if li[x] == tarItem:
            j=0
            while j != x + 1:
                print("!",end="")
                j = j + 1
            print(end=" ")
    return
li = [1,5,9,6,5,15,1,2,5] 
linearSearch3(li,5)  # !! !!!!! !!!!!!!!!

!! !!!!! !!!!!!!!!

In [37]:
def linearSearch4(li):
    sum = 0
    for x in range(len(li)):
        if li[x] % 3 == 0 and li[x] % 5 == 0:
            sum += li[x]
    return sum
li = [12,2,45,9,18,15,36]
linearSearch4(li)

60

# 1.print first and last term as it is becoz first number does not have previous and last does not have next number
# 2. need to multiply previous and next number

In [39]:
def linearSearch5(li):
    for x in range(len(li)):
        if x == 0 or x == len(li) - 1:
            print(li[x],end=" ")
        else:
            print(li[x-1]*li[x+1],end=" ")
    return

li = [1,2,3,4,5]
linearSearch5(li)

1 3 8 15 5

# 1.first and last element print as it is
# 2.Both sides numbers are even then print it

In [3]:
def linearSearch6(li):
    for x in range(len(li)):
        if x == 0 or x == len(li) - 1:
            print(li[x],end=" ")
        elif li[x-1] % 2 == 0 and li[x+1] % 2 == 0:
            print(li[x],end=" ")
    return
li = [1,6,9,4,16,19,22]
linearSearch6(li)

1 9 19 22

# Number to list

* Input as number
* Expected output will be list

In [5]:
# function for conversion - number to list
def numberListConversion(n):
    li = []
    while n != 0:
        r = n % 10
        li.append(r)
        n = n // 10
    li.reverse()
    return li
numberListConversion(14569)

[1, 4, 5, 6, 9]

In [8]:
# function to count the occurance of a chararcter in a string 
# "Python Programming" p -> 2
# "Python Programming" m -> 2
def countcharOccurances(s,c):
    cnt = 0
    for ch in s:
        if ch == c:
            cnt += 1
    return cnt
def countcharOccurances1(s,c):
    return s.count(c)
countcharOccurances("Python Programming",'m')

2

# String to List Conversion
* Input will be string
* Expected output will be list

In [10]:
# fuction to convert string into list
# test case
# "1 2 3 4 5 6"-- [1,2,3,4,5,6]
def strintToListConversion(s):
    li = s.split()
    numberslist = []
    for i in li:
        numberslist.append(int(i))
    return numberslist
s = "1 2 3 4 5 6"
strintToListConversion(s)

[1, 2, 3, 4, 5, 6]

### Sorting Algorithm
* all the sorting algorithm makes the list in ascending order
   * Bubble sort
   * selction sort
   * Insertion sort

In [17]:
# function to represent bubble sort 
def bubbleSort(li):
    for i in range(len(li)-1):
        for j in range(len(li)-1):
            if li[j] > li[j+1]:
                li[j],li[j+1] = li[j+1],li[j]
    return li
li = [19,1,25,6,18,3]
bubbleSort(li)

[1, 3, 6, 18, 19, 25]

# DAY-9

### TUPLES
- t1 parnthesis() li square brackets[]
- Difference between tuples and list
    - lists are mutable - can be changed / modified
       - used to access modify,add,delete data
    - tuples are immutable - cannot be changed
       - used to access data only

In [19]:
t1 = (1,2,3,4,5,6)
t1
type(t1)

tuple

### Data Structures
 - Dictionaries

### Dictionaries
* it works on the concept og set unique data
* Keys,Values is the uniqueidentifier for a value
* Each key is saperated from its values with colon(:)
* Each key and value is saperated by comma(,)
* Dictionaries enclosed with curly braces(})

In [5]:
d1 = {"Name":"Gitam","EmailId":"gitam@gmail.com","Address":"Hyderabad"}
print(d1)

{'Name': 'Gitam', 'EmailId': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [6]:
d1["Name"] # access the specific key

'Gitam'

In [7]:
d1["EmailId"]

'gitam@gmail.com'

In [8]:
d1["EmailId"] = "gitam-Python@gmail.com"

In [9]:
d1["EmailId"]

'gitam-Python@gmail.com'

In [13]:
del d1["EmailId"]

KeyError: 'EmailId'

In [11]:
d1

{'Name': 'Gitam', 'Address': 'Hyderabad'}

In [14]:
d1.keys() #  returns the list of keys

dict_keys(['Name', 'Address'])

In [15]:
d1.values() # returns the values

dict_values(['Gitam', 'Hyderabad'])

In [16]:
d1.items() # the list of tuples of keys and values

dict_items([('Name', 'Gitam'), ('Address', 'Hyderabad')])

### Contact Application
- Add Contact
- Search the Contact
- List all Contacts
   * name1 : Phone1
   * name2 : phone2
- Modify the Contact
- Remove the Contact
- Import the Contact

In [47]:
# Add Contact
contacts = {} # creating a dict object
def addcontact(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print("contact details are added")
    else:
        print("contact details are not added")
    return
addcontact('ram','2323238888')
addcontact('laxman','8888888888')
addcontact('ram','2323238888')

contact details are added
contact details are added
contact details are not added

In [48]:
# Search for contact details
def searchcontact(name):
    if name in contacts:
        print(name," : " , contacts[name])
    else:
        print("%s does not exist"% name)
    return
searchcontact('ram')
searchcontact('aravind and saifrasad')
searchcontact('laxman')

ram  :  2323238888
aravind and saifrasad does not exist
laxman  :  8888888888

In [30]:
# import some contacts
# Merge the contacts with existing one
def importcontact(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added successfully")
    return
newcontacts = {'rohan':5658565236,'Ajay':9956565622}
importcontact(newcontacts)

2 contacts added successfully

In [31]:
contacts

{'ram': '2323238888',
 'laxman': '8888888888',
 'rohan': 5658565236,
 'Ajay': 9956565622}

In [33]:
# delete a contact
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name," deleted successfully")
    else:
        print(name," not exists")
    return
deletecontact('Ajay')

Ajay  deleted successfully

In [34]:
contacts

{'ram': '2323238888', 'laxman': '8888888888', 'rohan': 5658565236}

In [57]:
# update the contact details
def deletecontact(name,phone):
    if name in contacts:
        contacts[name] = phone
        print(name,"Update successfully")
    else:
        print(name,"not exists")
    return
deletecontact('ram','2323238888')
deletecontact('hell0','7878787878')

ram Update successfully
hell0 not exists

### Packages and Modules

**Packages:**

   -A collection of Modules(Single Python file .py) and subpackages
   
**Module:**
   
   - A single Python file containing set function 

**Packages --> Sub Packages --> Modules --> Functions --> Statements**

In [59]:
# Import the external files to python file
import math 
math.floor(123.45)

123

In [60]:
from math import factorial as fact
fact(5)

120

In [61]:
from math import gcd as gcd
gcd(10,15)

5

In [65]:
# function to generate N random numbers in given range
import random
def randomNNumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
randomNNumbers(10,0,100)

72 29 0 85 66 87 29 69 57 34

In [72]:
# create a simple game 
# generate 20 random numbers 0 to 500
# input : Number
# output : Congrats! !
#          Try once again! ! !

def generateNumbers(n,lb,ub):
    li = []
    for i in range(0,n):
        li.append(random.randint(lb,ub))
        return li
def check(n):
    if n in li:
        return "congrats!!"
    else:
        return "Try once again!!!"
    return
check(15)
randomNNumbers(20,0,500)

congrats!!
354 congrats!!
349 congrats!!
349 congrats!!
49 congrats!!
383 congrats!!
417 congrats!!
198 congrats!!
245 congrats!!
414 congrats!!
382 congrats!!
421 congrats!!
151 congrats!!
425 congrats!!
230 congrats!!
236 congrats!!
472 congrats!!
39 congrats!!
219 congrats!!
137 congrats!!
135